<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-main">
    <div class="container-fluid">
        <a [routerLink]="['/']" class="navbar-brand">
            <img class="flicker-4 img-responsive" src="https://png.icons8.com/nolan/50/000000/shop.png" height="50px" width="50px" alt="logo" srcset=""> MyCart.com
        </a>
        <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isCollapsed" style="align-items: left;" class="collapse navbar-collapse flex-column" id="navbarNav">
            <div class="input-group w-75">
                <input type="text" name="search" class="form-control" placeholder="Search here.." [(ngModel)]="searchTerm" (keyup.enter)="search()">
                    <span id="searchBtn" class="color-change" (click)="search()">
                        <i class="heartbeat fa fa-search"></i>
                    </span>
            </div>
            <div class="w-100">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link"><img src="https://png.icons8.com/color/50/000000/categorize.png" height="20px" width="20px"> Categories</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link"><img src="https://png.icons8.com/nolan/50/000000/handshake.png" height="20px" width="20px"> Today's Deal</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link"><img src="https://png.icons8.com/nolan/50/000000/buy.png" height="20px" width="20px"> Buy</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link"><img src="https://png.icons8.com/nolan/50/000000/sell.png"
                        height="20px" width="20px"> Sell</a>
                    </li>
                    <li class="nav-item ml-0 ml-md-auto" ngbDropdown #dropdown="ngbDropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <img src="https://png.icons8.com/nolan/50/000000/user.png" height="20px" width="20px"> 
                                <span *ngIf="!token"> Accounts</span>
                                <span *ngIf="data.user">{{ data.user.name}}</span>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                                <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
                            </a>
                            <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                                <i class="fa fa-key" aria-hidden="true"></i> Login
                            </a>
                            <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                                <i class="fa fa-key" aria-hidden="true"></i> Logout
                            </a>
                            <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                                <i class="fab fa-accessible-icon"></i> Register
                            </a>
                        </div>
                    </li>
                    <li class="nav-item ml-0 ml-md-2">
                        <a (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
                            <img src="https://png.icons8.com/nolan/50/000000/shopping-cart.png" height="20px" width="20px"> Cart
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end of w-100 -->
        </div>
        <!-- ngbCollapse -->
    </div>
    <!-- container-fluid -->
</nav>
<!-- navbar navbar-expand-md -->
<router-outlet></router-outlet>
<footer id="main-footer" class="bg-main text-white mt-5 p-5">
        <div class="container">
            <p class="lead text-center">Made With <i class="fa fa-heart pulsate-fwd" style="font-size:20px;color:red"></i> By Som</p> 
        </div>
</footer>
